@model OEED_ITT.Models.Evento

@{
    Layout = "~/Views/Shared/_LayoutO.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Cancelacion</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #EAF6EA;
            color: #475148;
            margin: 0;
            padding: 0;
        }

        .containerf {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #FAFFF9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #537052;
        }

        p {
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        button {
            background-color: #859C80;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #537052;
            }

        .button-details {
            background-color: #859C80;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
        }

            .button-details:hover {
                background-color: #537052;
            }
    </style>
</head>
<body>

    <div class="containerf">
        <h4>Inscripción</h4>

        <h2>Confirmar Cancelacion</h2>

        <p>¿Estás seguro de que quieres cancelar este evento?</p>
        <p>Al cancelar no podras recuperar el evento. </p>
        <p>Una vez realizado volveras al listado de eventos.</p>
        <form asp-action="CancelarEvento" asp-controller="EventoO">
            <input type="hidden" name="IdEvento" value="@ViewData["IdEvento"]" />

            <button type="submit">Confirmar cancelación</button>
        </form>

        <div>
            <a asp-action="Details" asp-controller="EventoO" asp-route-id="@ViewData["IdEvento"]" class="button-details">Volver al evento</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

