@model OEED_ITT.Models.Evento
@using OEED_ITT.Helpers;

@{
    Layout = "~/Views/Shared/_LayoutO.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #EAF6EA;
            color: #537052;
            font-size: 16px;
        }

        h4 {
            color: #537052;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-group label {
            color: #537052;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #537052;
            border-color: #537052;
        }

            .btn-primary:hover {
                background-color: #475148;
                border-color: #475148;
            }

        .text-danger {
            color: red;
        }

        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 10px;
        }

        .card-header {
            background-color: #537052;
            color: white;
            font-weight: bold;
            border-radius: 10px 10px 0 0;
        }

        .btn-secondary {
            background-color: #A6B1A6;
            border-color: #A6B1A6;
        }

            .btn-secondary:hover {
                background-color: #8B998B;
                border-color: #8B998B;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Crear Evento
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="NombreEvento" class="control-label">Nombre del evento</label>
                                <input asp-for="NombreEvento" class="form-control" />
                                <span asp-validation-for="NombreEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DescripcionEvento" class="control-label">Descripción</label>
                                <input asp-for="DescripcionEvento" class="form-control" />
                                <span asp-validation-for="DescripcionEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FechaEvento" class="control-label">Fecha del evento</label>
                                <input asp-for="FechaEvento" class="form-control" type="date" />
                                <span asp-validation-for="FechaEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdTipoEvento" class="control-label">Tipo de evento</label>
                                <select asp-for="IdTipoEvento" class="form-control" asp-items="ViewBag.IdTipoEvento"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="HoraInicioEvento" class="control-label">Comienzo</label>
                                <input asp-for="HoraInicioEvento" class="form-control" />
                                <span asp-validation-for="HoraInicioEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HoraFinEvento" class="control-label">Finalización</label>
                                <input asp-for="HoraFinEvento" class="form-control" />
                                <span asp-validation-for="HoraFinEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdlugarEvento" class="control-label">Lugar</label>
                                <select asp-for="IdlugarEvento" class="form-control" asp-items="ViewBag.IdlugarEvento"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="IddepartamentoOrigen" class="control-label">Departamento encargado</label>
                                <input type="hidden" asp-for="IddepartamentoOrigen" value="@UsuarioG.Iddepartamento" />
                                <input type="text" class="form-control" disabled value="@UsuarioG.Iddepartamento" />
                            </div>

                            <div class="form-group">
                                <label asp-for="IdEstadoEvento" class="control-label">Estado del evento</label>
                                <input type="hidden" asp-for="IdEstadoEvento" value="1" />
                                <input type="text" class="form-control" disabled value="Planificado" />
                            </div>

                            <div class="form-group">
                                <label asp-for="NumMaxEvento" class="control-label">Número máximo de invitados</label>
                                <input asp-for="NumMaxEvento" class="form-control" />
                                <span asp-validation-for="NumMaxEvento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="imagenFile">Imagen del Evento</label>
                                <input type="file" name="imagenFile" class="form-control" />
                                <span asp-validation-for="Imagen" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Crear evento" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                        <div class="mt-3">
                            <a asp-action="Index" class="btn btn-secondary btn-block">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
