@model OEED_ITT.Models.ActividadesEvento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>ActividadesEvento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdActividad" />
            <div class="form-group">
                <label asp-for="NombreActividad" class="control-label"></label>
                <input asp-for="NombreActividad" class="form-control" />
                <span asp-validation-for="NombreActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionActividad" class="control-label"></label>
                <input asp-for="DescripcionActividad" class="form-control" />
                <span asp-validation-for="DescripcionActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFin" class="control-label"></label>
                <input asp-for="HoraFin" class="form-control" />
                <span asp-validation-for="HoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEvento" class="control-label"></label>
                <select asp-for="IdEvento" class="form-control" asp-items="ViewBag.IdEvento"></select>
                <span asp-validation-for="IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
